.logo-container {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    width:40%;
    max-height:90% ;
    font-family: 'La Belle Aurore';
    font-size: 53px;
    margin: 0;
    color: #ffd700;
    font-weight: 400;
    
}